[submodule "socket-io-example-crypto-client"]
	path = socket-io-example-crypto-client
	url = C:/Program Files/Git/socket-io-example-crypto-client
[submodule "socket-io-example-crypto-server"]
	path = socket-io-example-crypto-server
	url = C:/Program Files/Git/socket-io-example-crypto-server
